.Buttons{
    display: flex;

}

.DetailsList{
  margin-bottom:35px;

}

.CreateChallenge{
    display: flex;
    justify-content: space-between;
    padding-top: 11px;

}

.FindById{
   display:flex;
   flex-direction: column;
   justify-content:space-evenly;
  
   height: 120px;
}
